@charset "utf-8";
#top_index_content {
	/*border: 1px solid #0000ff;*/
	overflow:auto;
}
#top_index_guild {
	float:left;
	overflow:auto;
	/*border: 1px solid #00ff00;*/
}
#top_index_image {
	float:left;
	overflow:auto;
	margin-left:30px;
	/*border: 1px solid #ff0000;*/
}

.top_index_special {
	margin-left:15px;
}
.top_index_special_details {
	margin-left:30px;
}

#sample_seprator {
	margin-left:15px;
	margin-top:15px;
	border-top: thick gray outset;
	/*position:relative;*/
	/*border: 1px solid #00ff00;*/
}


.sample_frame {
	margin-left:15px;
	/*position:relative;*/
	overflow:auto;
	/*border: 1px solid #ff0000;*/
}

.sample_item {
	margin-left:15px;
	float:left;
	/*position:relative;*/
	/*border: 1px solid #0000ff;*/
}
.sample_item  h4{
	float:top;
	text-align: center;
}

.sample_item  img{
	float:top;
}


#top_index_statement {
	/*position:relative;*/
	/*border: 1px solid #ffff00;*/
}
#top_index_statement h2 {
	text-align: center;
	/*border: 1px solid #ff00ff;*/
}

